<% include partials/header %>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">

<style>

.bg{
  width: 100%;
  height: 10%;
}
h3{
  color: chartreuse;
}

</style>

<div >
  <img style="width:100%; margin-top: 0%;" src="https://i.sixfoot6.org/images/matchbooks/gramercy-tavern-20150131-6255-617px.jpg" />
  
  <div class="container">
    <br>
    <h3>Tavern Special:</h3>
    <hr>
    <a href="/starters">
      <img style="margin-left: 25%; width: 50%" href src="https://banner2.kisspng.com/20180605/juj/kisspng-logo-brand-white-font-menu-logo-5b16bb35cf4a88.2639721815282163738491.jpg" />
    </a>
    <hr>
    <a href="/mains">
      <img style="margin-left: 25%; width: 50%" href src="https://secureservercdn.net/ip-ad.mwp2.iad2.secureserver.net/y4s.f20.godaddywp.com/wp-content/uploads/2015/05/TheMainCourseLogo_156.jpg" />
    </a>
    <hr>
    <a href="/desserts">
      <img style="margin-left: 25%; width: 50%" href src="https://p.intucdn.co.uk/uploads/media/logo_retailer/0001/28/thumb_27970_logo_retailer_1x.png" />
    </a>
    <hr>
    <br>
  </div>

  

  

<% include partials/footer %>
</div>

